
.container{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 250px 600px; */
    grid-template-areas: 
    "hd"
    "bd"
    "ft";
    z-index: 2;
    border: 2px solid yellow;
}

.box {
    display: flex;
    flex-direction: center;
    justify-content:space-between;
    margin-top: 2%;
}

.header{
    grid-area: hd;
}

.main{
    grid-area: bd;
}

.footer{
    grid-area: ft;
}