body, ul, li, p {
    margin:0px;
    padding: 0px;
    list-style: none;
}

/* padronização dos links */
a {
    text-decoration: none;
    color: cornsilk;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 70vh 10vh;
    gap: 10px;
    grid-template-areas: 
    "h h"
    "m a"
    "f f";
    
}

.header {
    display: flex;
    /* flex wrap usado para sempre manter a dimenção simétrica idependente do tamanho do navegador */
    flex-wrap: wrap;
    justify-content: space-between;
    background: chocolate;
    align-items: center;
    padding: 20px;
}

.header{
    grid-area: h;
}

.main {
    background: rgb(124, 122, 122);
    display: grid;
    grid-area: m;
}

.aside {
    display: flex;
    background: chocolate;
    grid-area: a;
    align-items: flex-start;
}

footer {
    display: flex;
    /* flex wrap usado para sempre manter a dimenção simétrica idependente do tamanho do navegador */
    flex-wrap: wrap;
    justify-content: flex-end;
    background: chocolate;
    align-items: center;
    padding: 10px;
    grid-area: f;
}

.footer-menu{
    display: flex;
    padding: 10px;

}
.footer-menu, li{
    margin-left: 15px;

}