html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(238, 238, 238);
}

ul li p h1 {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

img{
    max-width: 50%;
    display: block;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "h h h h"
    "a m m m"
    "f f f f";
    gap: 10px;
}

header {
    grid-area: h;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(255, 123, 0);
    margin-left: 10px;
    margin-right: 10px;
}
.header img{
    max-width: 100px;
}

.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin-left: 20px;
}
.menu li a {
    display: block;
    padding: 10px;
    font-size: 2.0em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}



main {
    grid-area: m;
}
.main {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.main {
    border-left: double;
    border-color: rgb(255, 123, 0);
    margin-right: 10px;
    padding: 10px;
    padding-left: 30px;
}
.main div {
    margin: 10px;
}


.blog-post-one {
    display: flex;
}
.post-one img {
    display: flex;
    width: 500px;
    height: 300px;
    max-width: 100%;
    display: block;
}
.post-one {
    margin-bottom: 5px;
    display: block;
}
.post-one p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    color: rgb(255, 123, 0);
    text-align: left;
}



aside {
    grid-area: a;
}
.aside {
    color: rgb(255, 123, 0);
    text-align: left;
}
.aside {
    display: block;
    max-block-size: 50vh;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(247, 215, 185);
}
.content-bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}



footer {
    grid-area: f;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: rgb(255, 123, 0);
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-menu {
    display: flex;
}
.footer-menu li {
    list-style: none;
    margin-left: 20px;
    font-size: 2.0em;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-menu li a {
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.footer-menu img {
    display: block;
    max-width: 60px;
}
