
body, ul, li, p {
    margin:0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* padronização dos links */
a {
    text-decoration: none;
    color: cornsilk;
    font-style: italic;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "h h"
    "m a"
    "f f";
    
}

.header {
    display: flex;
    /* flex wrap usado para sempre manter a dimenção simétrica idependente do tamanho do navegador */
    flex-wrap: wrap;
    justify-content: space-between;
    background: black;
    align-items: center;
    padding: 20px;
}

.header{
    grid-area: h;
}

.title{
    text-align: left;
}

.main {
    display: flex;
    background: rgb(241, 233, 224);
    border-block-start-style: double;
    border-top-color: rgb(248, 122, 32);
    padding-left: 20px;
    grid-area: m;
}

.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2%;
    flex-wrap: wrap;
}

.grid-post img {
    width: 400px;
    height: 300px;
    display: block;
}

.aside {
    display: flex;
    padding: 20px;
    border-block-start-style: double;
    border-top-color: black;
    background: rgb(247, 232, 211);
    grid-area: a;
}

footer {
    display: flex;
    /* flex wrap usado para sempre manter a dimenção simétrica idependente do tamanho do navegador */
    flex-wrap: wrap;
    justify-content: flex-end;
    background: rgb(248, 122, 32);
    align-items: center;
    padding: 20px;
    grid-area: f;
}

.footer-menu{
    display: flex;
    padding: 10px;

}

.footer-menu, li {
    margin-left: 15px;

}