@import "../commons/main.css";


img{
    max-width: 50%;
    display: block;
}

.main {
    display: block;
    margin-right: 10px;
    padding: 10px;
    padding-left: 30px;
}
.main div {
    margin: 10px;
}

.post {
    display: block;
    align-content: center;
}

.title h1 {
    display: block;
    margin: 20px;
    text-align: center;
    border-bottom-style: double;
    border-color: rgb(255, 123, 0);
    font-size: 4.0em;
}
.title ul li {
    list-style: none;
    text-align: center;
}

.txt {
    text-align: justify;
    font-size: 1.6em;
}
.txt ul {
    padding: 10px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 149, 79);
}
.txt u {
    color: rgb(255, 149, 79);
    font-family: 'Ubuntu', sans-serif;
}


.txt-footer-post {
    padding: 15px;
    border-radius: 5%;
    background: rgb(255, 123, 0);
    text-align: justify;
    color: rgb(255, 255, 255);
}
.txt-footer-post ul li{
    list-style: none;
}
.txt-footer-post img{
    display: block;
    max-width: 250px;
    max-height: 250px;
    border-radius: 25%;
}

.txt img{
    max-width: 100%;
}


