@import "../commons/main.css";
@import "indexpost.css";
@import "indexgrid.css";

ul li p h1 {
    list-style: none;
}

.aside {
    color: rgb(255, 123, 0);
    text-align: left;
    display: block;
    width: 100%;
    max-width: 720px;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(247, 215, 185);
}
.content-bio {
    font-size: 1.2em;
}